<form method="post" action="">
    <p>
        <label for="id_name">Name</label>
        <br>
        <input type="text" name="name" id="id_name">
    </p>
    <p>
        <label for="id_message">Message</label>
        <br>
        <textarea name="message" id="id_message" rows="4"></textarea>
    </p>
    <p>
        <label for="id_message">Topic</label>
        <br>
        <select for="id_topic" name="topic">
            <option value="study">Study</option>
            <option value="project">Project</option>
        </select>
    </p>
    <p>
        <button type="submit">Send</button>
    </p>

</form>
